---
layout: page
---
{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}
{% assign df_strftime_m_full = '%B' %}  <!-- Full month name -->

<!-- Group posts by year -->
{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

<div id="archives" class="pl-xl-3">
  {% for year_group in posts_by_year %}
    {% assign cur_year = year_group.name %}
    <time class="year lead d-block">{{ cur_year }}</time>
    <time style="position:relative;bottom: 20px;left: 100px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">({{ year_group.items | size }} reviews total)</time>
    {{ '<ul class="list-unstyled">' }}

    <!-- Group posts by month within each year -->
    {% assign posts_by_month = year_group.items | group_by_exp: "post", "post.date | date: '%m'" %}

    {% for month_group in posts_by_month %}
      {% assign cur_month = month_group.name %}
      {% assign month_name = month_group.items[0].date | date: df_strftime_m_full %}

      <div class="month-title small text-muted">{{ month_name }} ({{ month_group.items | size }} reviews)</div>

      {% for post in month_group.items %}
        <li>
          {% assign ts = post.date | date: '%s' %}
          <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ post.date | date: '%d' }}</span>
          <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
            {{ post.date | date: df_strftime_m }}
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    {% endfor %}

    </ul>
  {% endfor %}
</div>
